.container {
    width: 920px;
    margin: auto;
    position: relative;
    background-color: #121212;
    padding: 55px;
    min-height: 100%;
    padding-top: 20px;
}

.station-item {
    height: 70px;
    margin-bottom: 15px;
}

#station-img {
    height: 70px;
    width: 70px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

#station-name {
    font-weight: 100;
    padding: 5px;
    margin:0;
    box-sizing: border-box;
    height:38px;
}

.inner {
    padding-left:75px;
}

.station-tags a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    color: #8b8b8b;
    background-color: #282828;
    margin-left: 5px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    color: #8b8b8b;
    background-color: #282828;
    margin-left: 5px;
}

#station-play {
    cursor: pointer;
}