.container {
    padding-top: 250px;
    width: 400px;
    margin: auto;
}

input, button {
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #282828;
    border: 1px solid #181818;
    padding: 15px;
    color: #8b8b8b;
}